<section id="bible">
    <div class="container wow fadeInUp pt-5">
        <div class="section-header">
            <h3 class="section-title text-white">Bible</h3>
            <p class="section-description"></p>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="card border-light">
                    <div class="card-body">
                        <h3 class="card-title">La Sainte Bible</h3>
                        <hr />
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.bible.com/en-GB/bible"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>